<html>
<body>
    <h1>Vulnerable API - Test Page</h1>
    <form action="/nosql" method="POST">
        <h3>NoSQL Injection</h3>
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>

    <form action="/idor" method="GET">
        <h3>IDOR</h3>
        User ID: <input type="text" name="user_id"><br>
        <input type="submit" value="Fetch Data">
    </form>

    <form action="/xss" method="POST">
        <h3>XSS</h3>
        Comment: <input type="text" name="comment"><br>
        <input type="submit" value="Submit">
    </form>

    <form action="/csrf" method="POST">
        <h3>CSRF</h3>
        <input type="submit" value="Transfer Money">
    </form>

    <form action="/code_injection" method="POST">
        <h3>Code Injection</h3>
        Command: <input type="text" name="command"><br>
        <input type="submit" value="Execute">
    </form>

    <form action="/ssti" method="POST">
        <h3>Server-Side Template Injection (SSTI)</h3>
        Template: <input type="text" name="template"><br>
        <input type="submit" value="Render">
    </form>
</body>
</html>
